.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.form-column {
  grid-column: 1;
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.info-column {
  grid-column: 2;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
}

.input-group input[type="text"],
.input-group input[type="number"] {
  width: 95%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input[type="text"]:focus,
.input-group input[type="number"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkbox-container {
  margin-bottom: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container label {
  font-size: 16px;
}

.select {
  margin-bottom: 20px;
}

.select mat-form-field {
  width: 100%;
}

.select mat-select {
  font-size: 16px;
}

.btn {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #337ab7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3b87ca;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
h3{
  font-weight: bold;
}
app-loading-circle {
  position: relative;
  top: 1rem;
  left: 48%;
}

.additional-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.additional-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.additional-info h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.additional-info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  width: 90%;
  animation: fadeIn 0.3s ease;
}

.loading {
  position: relative;
  top: 1rem;
  left: 47.5%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close-modal {
  position: relative;

  left: 95%;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
}

.close-modal .mat-icon {
  font-size: 24px;
  color: inherit;
}

.close-modal:hover {
  color: #000;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.dni,
.cbu,
.username {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #f3f3f3;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .form-column,
  .info-column {
    grid-column: 1;
    width: 85%;
  }
}