
.login-container {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 6%;
    padding: 20px;
    background-color: white;
    border: 1px solid #b3b0b0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    p{
      color: black;
      text-align: center;
      margin-top: 1%;
    }
    a{
      color: rgb(92, 211, 94);
    }
  }
  label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
  
  .login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .login-container input {
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #b3b0b0;
    background-color: white;
    box-sizing: border-box;
  }
  
  .login-container input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgb(92, 211, 94);
  }
  
  .login-container button[type="submit"] {
    background-color: rgb(83, 138, 84);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  
  .login-container button[type="submit"]:hover {
    background-color: rgb(68, 112, 69);
  }
