.example-spacer {
    flex: 1 1 auto;
  }
  button{
    color: white;
  }
  button:hover {
    color: #337ab7;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .nav{
    background-color: #333;
  }

  .button-nav{
    color: white;
  }
  .dashboard-button:hover {
    color: #337ab7;
  }
  .button-nav:hover {
    color: #337ab7;
  }