<div class="body">
    <div class="transfer-list-container">
        <mat-card class="card">
        <mat-card-header>
            <h2 class="title">All Transfers made</h2>
            <i class="material-icons">swap_horiz</i>
        </mat-card-header>
        <mat-card-content>
            <ul class="transfer-list">
            <li *ngFor="let transfer of  paginatedTransfersMade" class="transfer-item">
                <mat-card class="card-transfer">
                    <div class="transfer-details">
                        <p>
                            <span class="label">User Received:</span> <span class="value">{{ transfer.recipientUser }}</span>
                        </p>
                        <p>
                            <span class="label">CBU Received:</span> <span class="value">{{ transfer.recipientCbu }}</span>
                        </p>
                        <p>
                            <span class="label">User Who Transferred:</span> <span class="value">{{ transfer.originUser }}</span>
                        </p>
                        <p>
                            <span class="label">Amount:</span> <span class="value transfer-amount" style="color: red;">-${{ transfer.transferAmount | number:'1.0-0' }}</span>
                        </p>
                        <p>
                            <span class="label">Date:</span> <span class="value transfer-date">{{ transfer.transferDate | date: 'dd/MM/yyyy HH:mm' }}</span>
                        </p>
                        <button (click)="generatePdf(transfer)" class="btn-invoice">Dowload invoice</button>
                    </div>
                </mat-card>
            </li>
            </ul>
            <p *ngIf="transfersMade.length === 0">No transfers made yet.</p>
        </mat-card-content>
             <div class="pagination">
                <button (click)="previousPageMade()" [disabled]="currentPageMade === 1">Previous</button>
                <span>{{ currentPageMade }} of {{ totalPagesMade }}</span>
                <button (click)="nextPageMade()" [disabled]="currentPageMade === totalPagesMade">Next</button>
            </div>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <h2 class="title">All Transfers received</h2>
                <i class="material-icons">swap_horiz</i>
            </mat-card-header>
            <mat-card-content>
                <ul class="transfer-list">
                <li *ngFor="let transfer of  paginatedTransfersReceived " class="transfer-item">
                    <mat-card class="card-transfer">
                        <div class="transfer-details">
                            <p>
                                <span class="label">User Received:</span> <span class="value">{{ transfer.recipientUser }}</span>
                            </p>
                            <p>
                                <span class="label">CBU Received:</span> <span class="value">{{ transfer.recipientCbu }}</span>
                            </p>
                            <p>
                                <span class="label">User Who Transferred:</span> <span class="value">{{ transfer.originUser }}</span>
                            </p>
                            <p>
                                <span class="label">Amount:</span> <span class="value transfer-amount" >+${{ transfer.transferAmount | number:'1.0-0' }}</span>
                            </p>
                            <p>
                                <span class="label">Date:</span> <span class="value transfer-date">{{ transfer.transferDate | date: 'dd/MM/yyyy HH:mm' }}</span>
                            </p>
                            <button (click)="generatePdf(transfer)" class="btn-invoice">Dowload invoice</button>
                        </div>
                    </mat-card>
                </li>
                </ul>
                <p *ngIf="transfersReceived.length === 0">No transfers received yet.</p>
            </mat-card-content>
            <div class="pagination">
                <button (click)="previousPageReceived()" [disabled]="currentPageReceived === 1">Previous</button>
                <span>{{ currentPageReceived }} of {{ totalPagesReceived }}</span>
                <button (click)="nextPageReceived()" [disabled]="currentPageReceived === totalPagesReceived">Next</button>
            </div>
            </mat-card>
    </div>
</div>