.body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
.transfer-list-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .card {
    margin-bottom: 20px;
    flex: 1;
    text-align: center;
  }
  .transfer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7; 
  }
  
  .transfer-item {
    margin-bottom: 20px;
  }
  
  .card-transfer {
    padding: 20px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .transfer-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .transfer-details p {
    margin: 0;
  }
  .transfer-amount {
    font-size: 18px;
    font-weight: bold;
    color: #337ab7; 
  }
  
  .transfer-date {
    font-size: 14px;
    color: #666; 
  }

  .label {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  
  .pagination button {
    background-color: #4567b7;
    color: #fff;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  
  .pagination button:hover {
    background-color: #2e4e97;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination span {
    margin: 0 10px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
  }
  
  .pagination .current-page {
    font-weight: bold;
    color: #333;
  }
  
  .pagination .page-number {
    margin: 0 5px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
  }
  
  .pagination .page-number:hover {
    color: #333;
  }
  
  @media only screen and (max-width: 768px) {
    .transfer-list-container {
         flex-direction: column;
     }
    .card {
         width: 100%;
         margin: 10px 0;
     }
 }