
mat-grid-tile {
    background: rgb(245, 245, 245);
 
  }
  
  .card {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #ddd;
  }
  
 a{
  text-decoration: none;
 }
  
 .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-container .aClass {
  flex: 1 1 50%;
  margin: 10px 0;
  padding: 20px; 
  font-size: 1.2em; 
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}
.aClass{
  font-size: 2rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(224, 224, 224);
  border: 1px solid #ddd;
 
}

.transfer-a{
    color: #538f56;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 1px rgb(197, 199, 197);
    border-radius: 5px;
}
.transfer-a:hover {
  box-shadow: 0 0 2px 1px rgb(92, 211, 94);
}


.history-a{
    color: #e3b11a;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 1px rgb(197, 199, 197);
    border-radius: 5px;
}
.history-a:hover {
  box-shadow: 0 0 2px 1px #e3b11a;
}

.config-a {
    color: rgb(66, 133, 244);
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 1px rgb(197, 199, 197);
    border-radius: 5px;
}

.config-a:hover {
  box-shadow: 0 0 2px 1px rgb(66, 133, 244);
}

.transfer-list {
  list-style-type: none;
  padding: 0;
  max-width: 20rem;
}

.transfer-item {
  margin-bottom: 20px; 
}

.card-transfer {
  padding: 10px; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #ddd;
}

.transfer-details {
  margin-bottom: 5px; 
}

.transfer-details span {
  font-weight: bold; 
}

.transfer-amount {
  color: green; 
}

.transfer-date {
  font-style: italic; 
  color: #666; 
}

.section-title.with-icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.section-title.with-icon i {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #777;
}

