mat-grid-tile {
    background: rgb(245, 245, 245);
  }
  
  .card {
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #ddd;
  }
  
 
  
  .cardButton {
    margin: 10px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .transfer-button {
    background-color: rgb(75, 112, 76);
  }
  
  .transfer-button:hover {
    background-color: #538f56;
  }
  
  .history-button {
    background-color: rgb(255, 193, 7);
  }
  
  .history-button:hover {
    background-color: #ffc107;
  }
  
  .config-button {
    background-color: rgb(66, 133, 244);
  }
  
  .config-button:hover {
    background-color: #45a0e6;
  }

  .transfer-list {
    list-style-type: none;
    padding: 0;
  }
  
  .transfer-item {
    margin-bottom: 20px; 
  }
  
  .card-transfer {
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #ddd;
  }
  
  .transfer-details {
    margin-bottom: 5px; 
  }
  
  .transfer-details span {
    font-weight: bold; 
  }
  
  .transfer-amount {
    color: green; 
  }
  
  .transfer-date {
    font-style: italic; 
    color: #666; 
  }
  
 