<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header>
          <h2 class="title">Welcome {{user.username}} to Transfer Money!</h2>
        </mat-card-header>
        <h2  class="title">You have <span style="color: green;">${{user.moneyAccount}}</span> in the account.</h2>
        <button class="cardButton transfer-button">Hacer una transferencia</button>
        <button class="cardButton history-button">Ver historial de transferencias</button>
        <button class="cardButton config-button">Configuración de cuenta</button>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <ul class="transfer-list">
        <h2>Latest transfers made</h2>
        <li *ngFor="let transfer of transfers" class="transfer-item">
          <mat-card class="card-transfer">
            <div class="transfer-details">
              <span>CBU RECEIVED:</span> {{ transfer.recipientCbu }} 
            </div>
            <div class="transfer-details">
              <span>USER WHO TRANSFERRED:</span> {{ transfer.originUser }}
            </div>
            <div class="transfer-details">
              <span>Amount:</span> <span class="transfer-amount">${{ transfer.transferAmount }}</span> 
            </div>
            <div class="transfer-details">
              <span>Date:</span> <span class="transfer-date">{{ transfer.transferDate | date: 'dd/MM/yyyy' }}</span> 
            </div>
          </mat-card>
        </li>
      </ul>
    </mat-grid-tile>    
  </mat-grid-list>