<div class="body">
  <div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <h2 class="title">Welcome {{ user.username }} to Transfer Money!</h2>
      </mat-card-header>
      <mat-card-content>
        <h2 class="title">You have <span class="amount">${{ user.moneyAccount }}</span> in the account.</h2>
        <div class="button-container">
          <a href="/transfers" class="btn transfer-btn">Make a Transfer</a>
          <a href="" class="btn history-btn">View Transfer History</a>
          <a href="" class="btn config-btn">Account Settings</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="transfer-list-container">
    <mat-card class="card">
      <mat-card-header>
        <h2 class="title">Latest Transfers</h2>
        <i class="material-icons">swap_horiz</i>
      </mat-card-header>
      <mat-card-content>
        <ul class="transfer-list">
          <li *ngFor="let transfer of transfers |  slice:-4" class="transfer-item">
            <mat-card class="card-transfer">
              <div class="transfer-details">
                <p>
                  <span>User Received:</span> {{ transfer.recipientUser }}
                </p>
                <p>
                  <span>CBU Received:</span> {{ transfer.recipientCbu }}
                </p>
                <p>
                  <span>User Who Transferred:</span> {{ transfer.originUser }}
                </p>
                <p>
                  <span>Amount:</span>
                  <span class="transfer-amount">${{ transfer.transferAmount }}</span>
                </p>
                <p>
                  <span>Date:</span>
                  <span class="transfer-date">{{ transfer.transferDate | date: 'dd/MM/yyyy' }}</span>
                </p>
              </div>
            </mat-card>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>