<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>Transfer Money App</h1>
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" placeholder="Username">
    
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Password">
    
      <label for="mail">Email</label>
      <input type="email" id="mail" formControlName="mail" placeholder="Email">
    
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" formControlName="firstname" placeholder="Firstname">
    
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" formControlName="lastname" placeholder="Lastname">
    
      <label for="dni">DNI</label>
      <input type="number" id="dni" formControlName="dni" placeholder="Dni">
    
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
      <p>Do you have an account? <a href="/login">Log in here</a>.</p>
    </form>
</div>