<div class="registerContainer">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>Transfer Money App</h1>
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" placeholder="Username">
      <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)">
        <span class="error"> Username must be at least 5 characters long</span>
      </div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" placeholder="Password">
      <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
        <span class="error"> Password must be at least 6 characters long</span>
      </div>
      <label for="mail">Email</label>
      <input type="email" id="mail" formControlName="mail" placeholder="Email">
    
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" formControlName="firstname" placeholder="Firstname">
    
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" formControlName="lastname" placeholder="Lastname">
    
      <label for="dni">DNI</label>
      <input type="number" id="dni" formControlName="dni" placeholder="Dni">
      <div *ngIf="registerForm.get('dni')?.invalid && (registerForm.get('dni')?.dirty || registerForm.get('dni')?.touched)">
        <span class="error"> DNI must be exactly 8 digits long </span>
      </div>
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
      <p>Do you have an account? <a href="/login">Log in here</a>.</p>
    </form>
</div>