.registerContainer {
  position: relative;
  max-width: 500px; 
  margin: 50px auto; 
  padding: 50px; 
  h3{
    text-align: center;
  }
 
}
form {
    max-width: 450px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
    h1{
      text-align: center;
      color: black;
    }
    p{
      text-align: center;
      color: black;
      margin: 1%;
    }
    a{
      color: rgb(0, 0, 0);
    }
  }
  
  label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    font-size: large;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  [type="number"] {
    width: 100%;
    padding: 20px;
    color: black;
    background-color: white;
    border: 1px solid #b3b0b0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: large;
  }
  .register-container input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgb(107, 107, 107);
  }
  button[type="submit"] {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #b3b0b0;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
    transition: background-color 0.3s, transform 0.2s;
  }

  button[type="submit"]:hover {
    background-color: rgb(73, 73, 73);
  }
  
  button[type="submit"]:disabled {
    background-color: #333;
    cursor: not-allowed;
  }
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  h1{
    font-size: 30px;
    font-weight: bold;
  }
  app-loading-circle {
    position: relative; 
    left: 46%; 
  }
  .link{
    font-size: medium;
  }